---
import type { Reference } from '../../types/types';

import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/calcs/Hero.astro';

import GameOfLifeComponent from '../../components/vue/game-of-life/GameOfLife.vue';
import References from '../../components/shared/References.astro';
import { calculators } from '../../utils/calculator-list';

const calculator = calculators.find((calc) => calc.id === 'game-of-life');

if (!calculator) {
    throw new Error('Calculator not found');
}

const references: Reference[] = [
    {
        title: 'Wiki:Conway\'s Game of Life',
        url: 'https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life'
    }
];
---

<Layout title={calculator.name} description={calculator.description}>
    <div class="container">
        <Hero title={calculator.name} description={calculator.description} />
        <div style="min-height: 700px;" class="calculator">
            <GameOfLifeComponent client:load />
        </div>

        <References references={references} />
    </div>
</Layout>

<style></style>
