---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import HabitableZone from "../../components/vue/habitable-zone/HabitableZone.vue";
import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";

const title = "Habitable Zone";
const description = "Calculate the habitable zone of a star.";

const references: Reference[] = [
  {
    title: "Habitable Zone Wiki",
    url: "https://en.wikipedia.org/wiki/Habitable_zone",
  },
  {
    title: "Luminosity Calculator",
    url: "https://physicscalc.com/physics/luminosity-calculator/",
  },
  {
    title: "Habitable Zone Simulator",
    url: "https://ccnmtl.github.io/astro-simulations/circumstellar-habitable-zone-simulator/",
  },
  {
    title: "Habitable Zone Calculator",
    url: "https://www.planetarybiology.com/calculating_habitable_zone.html",
  },
  {
    title: "The Habitable Zone",
    url: "https://www.astro.umd.edu/~miller/teaching/astr380f09/lecture14.pdf",
  },
];
---

<Layout title={title} description={description}>
  <div class="container">
    <Hero title={title} description={description} />
    <div style="min-height: 600px;" class="calculator">
      <HabitableZone client:load />
    </div>

    <References references={references} />
  </div>
</Layout>

<style></style>
