---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import HabitatRequirements from "../../components/vue/habitat-requirements/HabitatRequirements.vue";
import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";
import SponsorCalc from "../../components/calcs/SponsorCalc.astro";
import SkeletonLoader from "../../components/shared/SkeletonLoader.astro";

const title = "Habitat Requirements";
const description =
  "Esimate the energy, mass, crew, and volume requirements for a habitat";

const references: Reference[] = [
  {
    title: "Data and Calculations by Sam Ross",
    url: "https://samross.space/",
  },
];
---

<Layout title={title} description={description}>
  <div class="container">
    <Hero title={title} description={description} />
    <div style="min-height: 600px;" class="calculator">
      <SkeletonLoader />
      <HabitatRequirements client:only />
    </div>
    <SponsorCalc />
    <References references={references} />
  </div>
</Layout>

<style></style>
