---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import HohmannTransfer from "../../components/vue/hohmann-transfer/HohmannTransfer.vue";
import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";

const title = "Hohmann Transfer";
const description =
  "A Hohmann transfer orbit is a type of elliptical orbit used to transfer a spacecraft from one circular orbit to another by using a minimum amount of propellant. It is named after Walter Hohmann, a German engineer who first described the technique in 1925.";

const references: Reference[] = [
  {
    title: "Hohmann transfer Wiki",
    url: "https://en.wikipedia.org/wiki/Hohmann_transfer_orbit",
  },
  {
    title: "Instructables: Hohmann Transfer",
    url: "https://www.instructables.com/Calculating-a-Hohmann-Transfer/",
  },
  {
    title: "Let's Go to Mars!",
    url: "https://www.jpl.nasa.gov/edu/teach/activity/lets-go-to-mars-calculating-launch-windows/",
  },
];
---

<Layout title={title} description={description}>
  <div class="container">
    <Hero title={title} description={description} />

    <div style="min-height: 600px;" class="calculator">
      <HohmannTransfer client:load />
    </div>

    <References references={references} />
  </div>
</Layout>

<style></style>
