---
import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/calcs/Hero.astro';

import Lagrange from '../../components/vue/lagrange/Lagrange.vue';
import References from '../../components/shared/References.astro';
import type { Reference } from '../../types/types';
import { calculators } from '../../utils/calculator-list';
import { Skeleton } from 'three';
import SkeletonLoader from '../../components/shared/SkeletonLoader.astro';

const calculator = calculators.find((calc) => calc.id === 'lagrange-points');

if (!calculator) {
    throw new Error('Calculator not found');
}

const references: Reference[] = [
    {
        title: 'Wiki: Lagrange Points',
        url: 'https://en.wikipedia.org/wiki/Lagrange_point',
    },
];
---

<Layout title={calculator.name} description={calculator.description}>
    <div class="container">
        <Hero title={calculator.name} description={calculator.description} />
        <div class="alert alert-warning text-center mb-5">
            <i class="fa-solid fa-triangle-exclamation"></i> Under construction!
        </div>
        <SkeletonLoader />
        <Lagrange client:only />

        <References references={references} />
    </div>
</Layout>

<style></style>
