---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";
import NutritionRequirements from "../../components/vue/nutrition-requirements/NutritionRequirements.vue";
const title = "Nutrient Requirements";
const description =
  "Estimate the nutrition requirements and the mass of the food required for a mission";

const references: Reference[] = [
  {
    title: "USDA FoodData Central",
    url: "https://fdc.nal.usda.gov/",
  },
  {
    title: "NASA Human Research Program",
    url: "https://www.nasa.gov/hrp",
  },
];
---

<Layout title={title} description={description}>
  <div class="container">
    <Hero title={title} description={description} />
    <div style="min-height: 600px;" class="calculator">
      <NutritionRequirements client:load />
    </div>

    <References references={references} />
  </div>
</Layout>

<style></style>
