---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import ONeillCylinder from "../../components/vue/oneill-cylinder/ONeillCylinder.vue";
import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";
import { calculators } from "../../utils/calculator-list";

const calculator = calculators.find((calc) => calc.id === "oneill-cylinder");

if (!calculator) {
  throw new Error("Calculator not found");
}

const references: Reference[] = [];
---

<Layout title={calculator.name} description={calculator.description}>
  <div class="container">
    <Hero title={calculator.name} description={calculator.description} />
    <ONeillCylinder client:load />
    <References references={references} />
  </div>
</Layout>

<style></style>
