---
import type { Reference } from '../../types/types';

import Layout from '../../layouts/Layout.astro';
import Hero from '../../components/calcs/Hero.astro';

import RocketPerformanceComponent from '../../components/vue/rocket-performance/RocketPerformance.vue';
import References from '../../components/shared/References.astro';
import { calculators } from '../../utils/calculator-list';

const calculator = calculators.find((calc) => calc.id === 'rocket-performance');

if (!calculator) {
    throw new Error('Calculator not found');
}

const references: Reference[] = [
    {
        title: 'Wiki: Specific Impulse',
        url: 'https://en.wikipedia.org/wiki/Specific_impulse'
    },
];
---

<Layout title={calculator.name} description={calculator.description}>
    <div class="container">
        <Hero title={calculator.name} description={calculator.description} />
        <div style="min-height: 700px;" class="calculator">
            <RocketPerformanceComponent client:load />
        </div>

        <References references={references} />
    </div>
</Layout>

<style></style>
