---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/calcs/Hero.astro";

import TransferWindow from "../../components/vue/transfer-window/TransferWindow.vue";
import References from "../../components/shared/References.astro";
import type { Reference } from "../../types/types";

const title = "Transfer Window Calculator";
const description =
  "Calculate the transfer window and delta v requirements for a rocket to travel between two planets.";

const references: Reference[] = [
  {
    title: "Planetary Transfer Calculator",
    url: "https://transfercalculator.com/calculator/",
  },
  {
    title: "Wiki: Transfer Window",
    url: "https://en.wikipedia.org/wiki/Transfer_orbit#Transfer_window",
  },
  {
    title: 'Wiki: Lambert\s Problem',
    url: 'https://en.wikipedia.org/wiki/Lambert%27s_problem'
  }
];
---

<Layout title={title} description={description}>
  <div class="container">
    <Hero title={title} description={description} />
    <div style="min-height: 600px;" class="calculator">
      <TransferWindow client:load />
    </div>

    <References references={references} />
  </div>
</Layout>

<style></style>
